/* Загальні властивості */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul,
ol {
  list-style-type: none;
}

address {
  font-style: normal;
}

/* Header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list .nav-item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-contacts {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Основні стилі для посилань у навігації */
.nav-link {
  color: #2e2f42; /* базовий колір тексту */
  text-decoration: none;
}

.contacts-link {
  color: #434455; /* базовий колір тексту */
  text-decoration: none;
}

/* Стан при наведенні мишкою (hover) */
.nav-link:hover,
.contacts-link:hover {
  color: #404bbf; /* змінюється колір тексту при ховері */
}

/* Стан при фокусі (focus) */
.nav-link:focus,
.contacts-link:focus {
  color: #404bbf; /* змінюється колір тексту при фокусі */
}

/* Стан при активному натисканні (active) */
.nav-link:active {
  text-decoration: underline;
  color: #404bbf; /* колір тексту при активному стані */
}

/* Section 1 Hero */
.hero {
  background-color: #2e2f42;
  color: #ffffff;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.interactive-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  text-align: center;
  outline: none;
  background-color: #4d5ae5;
  color: #ffffff;
}

/* Стан при наведенні мишкою */
.interactive-button:hover {
  background-color: #404bbf;
}

/* Стан при фокусі (focus) */
.interactive-button:focus {
  background-color: #404bbf; /* змінюється колір фону при фокусі */
}

/* Section 2 Benefits */
.benefits {
  background-color: #ffffff;
}

.benefits-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 3 Our Team */
.team {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-item {
  background-color: #ffffff;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 4 Our Portfolio */
.portfolio {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  background-color: #ffffff;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
